{
  "openapi": "3.0.2",
  "info": {
    "title": "Snapi Test APIs",
    "version": "1.0.1",
    "termsOfService": "https://api.lumen.com/terms/",
    "contact": {
      "email": "public-sector-apis@lumen.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.lumen.com"
    }
  ],
  "tags": [
    {
      "name": "Snapi Test APIs",
      "description": "Lumen Public Sector APIs",
      "externalDocs": {
        "url": "https://api.lumen.com/api-docs"
      }
    }
  ],
  "paths": {
    "/greetings": {
      "get": {
        "summary": "List greetings",
        "tags": [
          "Snapi-test"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Greeting"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a greeting",
        "tags": [
          "Snapi-test"
        ],
        "requestBody": {
          "description": "greeting",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Greeting"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Greeting"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 400,
                    "message": "Bad Request"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 409,
                    "message": "Conflict"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/greetings/{name}": {
      "get": {
        "summary": "Retrieve a greeting",
        "tags": [
          "Snapi-test"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Greeting"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 404,
                    "message": "Not Found"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Save Greeting",
        "tags": [
          "Snapi-test"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "greeting",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Greeting"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Greeting"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 400,
                    "message": "Bad Request"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 404,
                    "message": "Not Found"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete name",
        "tags": [
          "Snapi-test"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 200,
                    "message": "OK"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 404,
                    "message": "Not Found"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Greeting": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "salutation": {
            "maxLength": 10,
            "type": "string"
          }
        },
        "required": [
          "salutation",
          "name"
        ],
        "type": "object"
      }
    }
  }
}